<a href="https://colab.research.google.com/github/JagdishChavan081/python_code/blob/master/Data_Type_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Blank Diagram.png]()



1.   Data types are the classification or categorization of data items.

2.   Data types represent a kind of value which determines what operations can be performed on that data. Numeric, non-numeric and Boolean (true/false) data are the most used data types.


3.   Variables can store data of different types.

2.   everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.



5.   Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory. Therefore, by assigning different data types to variables, you can store integers, decimals or characters in these variables.

2.   Python data types are divided in two categories, mutable data types and immutable data types.

1.   The best thing about Python is that the data type doesn’t need to be defined when declaring a variable. Data types exist, but the variables are not bound to any of them. Languages that act in this way are called​ ​dynamically typed languages.

## None Type

* None datatype represents an object that does not contain any value.
* In language like java its called null in Python its called None.
* In python program, maximum of only one None object is provided

In [ ]:
a = None
print(a)
print(id(a))
print(type(a))

None
11125344
<class 'NoneType'>

In [ ]:
phone_num = 8830309897
print(phone_num)

8830309897

## Numeric

Python numeric data type is used to hold numeric values like;


1.   int – holds signed integers of non-limited length.
.

2.   float- holds floating precision numbers and it’s accurate upto 15 decimal places.
3.   complex- holds complex numbers.

It is used to carry out the normal mathematical operations.

# Integer Data Type int()


1.   Decimal Form ->(Base-10) (0-9) Default
2.   Binary Form -> (Base-2) (0,1) 0b1111/0B1111

3. Octal Form ->(Base-8)(0-7) 0O7777/0o7777
2.   Hexa Decimal Form ->(Base-16)(0-9)(a-f) 0x    /0X

In [ ]:
a=100
print(type(a))

<class 'int'>

In [ ]:
num ='314'
print(type(num))

<class 'str'>

In [ ]:
#creating a variable with integer value 
a=100
print("The type of variable having value", a, " is ", type(a))

The type of variable having value 100  is  <class 'int'>

##Integer to Binary & Binary to Integer

In [ ]:
a= 25
print(bin(a))

0b11001

In [ ]:
bin(20)

'0b10100'

In [ ]:
#Integer to Binary Conversion bin()
a=25
print("The type of variable having value", bin(a), " is ", type(a))

The type of variable having value 0b11001  is  <class 'int'>

In [ ]:
a = 120
print(type(bin(a)))

<class 'str'>

In [ ]:
age = 21
percentage = 96.56
print(type(age))
print(type(percentage))

<class 'int'>
<class 'float'>

In [ ]:

b= 0b1111
print(int(b))

15

In [ ]:
#Binary to Integer Conversion prefix 0b (zero + lowercase letter 'b')
a=0b1111                          
print("The type of variable having value", int(a), " is ", type(a))

The type of variable having value 15  is  <class 'int'>

In [ ]:
# exp2 Binary to Integer Conversion 0B (zero + uppercase letter 'B')
a = -0B1111
print("The type of variable having value", int(a), " is ", type(a))

The type of variable having value -15  is  <class 'int'>

##Integer to Octal & Octal To Integer

In [ ]:
#Integer to Octal Conversion oct()
a = 23
print("The type of variable having value", oct(a), " is ", type(a))

The type of variable having value 0o27  is  <class 'int'>

In [ ]:
#Octal To Integer Conversion 0o (zero + lowercase letter 'o')
a = 0o1111
print("The type of variable having value", int(a), " is ", type(a))

The type of variable having value 585  is  <class 'int'>

In [ ]:
#Octal To Integer Conversion 0O (zero + uppercase letter 'O')
a = 0O7777
print("The type of variable having value", int(a), " is ", type(a))

The type of variable having value 4095  is  <class 'int'>

## INTEGER TO HEXADECIMAL and HEXADECIMAL TO INTEGER

In [ ]:
#Integer to Hexadecimal Conversion hex()
a = 63
print("The type of variable having value", hex(a), " is ", type(a))

The type of variable having value 0x3f  is  <class 'int'>

In [ ]:
#Hexadeciaml to Integer Conversion 0X (zero + uppercase letter 'X')
a = 0XFace
print("The type of variable having value", int(a), " is ", type(a))

The type of variable having value 64206  is  <class 'int'>

In [ ]:
#Hexadecimal to Integer Conversion 0x (zero + lowercase letter 'x')
a = 0xBeef
print("The type of variable having value", int(a), " is ", type(a))

The type of variable having value 48879  is  <class 'int'>

In Python 3, there is effectively no limit to how long an integer value can be. Of course, it is constrained by the amount of memory your system has, as are all things, but beyond that an integer can be as long as you need it to be:

In [ ]:
print(123123123123123123123123123123123123123123123123 + 1000)

123123123123123123123123123123123123123123124123

##FLOAT DATA TYPE

The float type in Python designates a floating-point number. float values are specified with a decimal point. Optionally, the character e or E followed by a positive or negative integer may be appended to specify scientific notation:

In [ ]:
#create a variable with float value. dollar price
b=10.2345
print("The type of variable having value", b, " is ", type(b))

The type of variable having value 10.2345  is  <class 'float'>

##Deep Dive: Floating-Point Representation

The following is a bit more in-depth information on how Python represents floating-point numbers internally. You can readily use floating-point numbers in Python without understanding them to this level, so don’t worry if this seems overly complicated. The information is presented here in case you are curious.

Almost all platforms represent Python float values as 64-bit “double-precision” values, according to the IEEE 754 standard. In that case, the maximum value a floating-point number can have is approximately 1.8 ⨉ 10308. Python will indicate a number greater than that by the string inf:

In [ ]:
#Specify value in Exponential Form
b = 1.2e3
print("The type of variable having value", b, " is ", type(b))

The type of variable having value 1200.0  is  <class 'float'>

In [ ]:
1.79e308

1.79e+308

In [ ]:
1.8e308

inf

The closest a nonzero number can be to zero is approximately 5.0 ⨉ 10^-324. Anything closer to zero than that is effectively zero:

In [ ]:
5e-324

5e-324

In [ ]:
1e-325

0.0

Floating point numbers are represented internally as binary (base-2) fractions. Most decimal fractions cannot be represented exactly as binary fractions, so in most cases the internal representation of a floating-point number is an approximation of the actual value. In practice, the difference between the actual value and the represented value is very small and should not usually cause significant problems.

Note:- Cant specify Floating Point value by using Bin(),hex(),Oct() No terminology for this.

##COMPLEX DATA TYPE

Python Contains inbuilt data type very few Languages have this.

complex notation-> (a+bj)

a-> real part 

b-> imaginary part

j-> compulsory

imaginary part should be specified using decimal form only

Real part can be represented in any form decimal bin(), oct(), hex()

to check real and imaginary part

com = (a + bj)

com.real

com.imag

In [ ]:
#create a variable with complex value.
c=100+3j
print("The type of variable having value", c, " is ", type(c))

The type of variable having value (100+3j)  is  <class 'complex'>

In [ ]:
#Checking Real and Imaginary part
c=100+3j
print("The real part is", c.real)
print("The iamginary part is", c.imag)

The real part is 100.0
The iamginary part is 3.0

In [ ]:
#create a variable with complex value. (real part as binary)
c=0b1111+3j
print("The type of variable having value", c, " is ", type(c))

The type of variable having value (15+3j)  is  <class 'complex'>

In [ ]:
#create a variable with complex value. (real part as octal)
c=0o1111+3j
print("The type of variable having value", c, " is ", type(c))

The type of variable having value (585+3j)  is  <class 'complex'>

In [ ]:
#create a variable with complex value. (real part as hexadecimal)
c=0xaaaa+3j
print("The type of variable having value", c, " is ", type(c))

The type of variable having value (43690+3j)  is  <class 'complex'>

In [ ]:
d = (12+ 6j)
print(d)

(12+6j)

##If you run the above code you will see output like the below image.
![picture](https://cdn.journaldev.com/wp-content/uploads/2017/05/datatypes_useOf_type.png)

##Numeric Type Conversion

Most of the time Python will do variable conversion automatically. You can also use Python conversion functions 

int(), 

float(),

complex()

to convert data from one type to another. In addition, the type function returns information about how your data is stored within a variable.

##CONVERTING INTEGER DATA TO FLOAT AND COMPLEX

In [ ]:
#Converting Integer to Float
a=100
print(type(a))
b =  float(a)
print(type(b))

<class 'int'>
<class 'float'>

In [ ]:
#Converting Integer to complex
a=100
print("Type conversion to float ", complex(a))

Type conversion to float  (100+0j)

In [ ]:
c = complex(4,5)
c

(4+5j)

##CONVERTING FLOAT TO INTEGER AND COMPLEX

In [ ]:
#converting  a variable with float value to Integer
b=10.2345
print("Flaot to integer is", int(b))

Flaot to integer is 10

In [ ]:
#converting a variable with float value Complex
b=10.2345
print("Float to Complex is", complex(b))

Float to Complex is (10.2345+0j)

##Setting Precision

There are many ways to set precision of floating point value. Some of them is discussed below.

1. Using “%” :- “%” operator is used to format as well as set precision in python. This is similar to “printf” statement in C programming.

2. Using format() :- This is yet another way to format the string for setting precision.

3. Using round(x,n) :- This function takes 2 arguments, number and the number till which we want decimal part rounded.

In [ ]:
4.5

In [ ]:
a = 3.4536879700
  
# using "%" to print value till 2 decimal places  
print ("The value of number till 2 decimal place(using %) is : ",end="") 
print ('%.f'%a) 
  
# using format() to print value till 3 decimal places  
print ("The value of number till 3 decimal place(using format()) is : ",end="") 
print ("{0:.3f}".format(a)) 
  
# using round() to print value till 1 decimal places  
print ("The value of number till 1 decimal place(using round()) is : ",end="") 
print (round(a,3))

The value of number till 2 decimal place(using %) is : 3
The value of number till 3 decimal place(using format()) is : 3.454
The value of number till 1 decimal place(using round()) is : 3.454

In [ ]:
print('hello world')

hello world

##COMPLEX TO INTEGER AND FLOAT

In [ ]:
#converting  a variable with complex value to integer
c=100+3j
print("complex to integer", int(c))

TypeError: ignored

In [ ]:
#converting a variable with complex value to float
c=100+3j
print("Complex to Flaot",float(c))

TypeError: ignored

##data type conversion in Python?
As the name says, it is converting the value of one data type to another. This process is called data type conversion in Python.

Q)How many types of conversion is there in Python?

Similar to most languages, there are two types of conversion.

Implicit Type Conversion


Explicit Type Conversion

In [ ]:
a = 10
print(type(a))
b= a+3.14
print(type(b))

<class 'int'>
<class 'float'>

##Q) What is Implicit Type Conversion?
In implicit conversion, Python converts one data type into another data type without any user involvement.

Let’s consider the following code.

In [ ]:
int_number = 843
float_number = 8.43
result= int_number + float_number
print("Data Type of Integer:",type(int_number))
print("Data Type of Float:",type(float_number))
print("Result Value:",result)
print("Data Type of Result:",type(result))

Data Type of Integer: <class 'int'>
Data Type of Float: <class 'float'>
Result Value: 851.43
Data Type of Result: <class 'float'>

Note that there is no requirement for any conversion procedure here because Python will handle these kinds of conversions automatically.

##Q)What is Explicit Type Conversion?
In Explicit conversion, the user has to convert the data type of an object to the desired data type as per requirement. One can achieve the above using the default functions – float(), int(), string().


This process is sometimes called typecasting of data, as the user casts the data type of any object.

Consider the code below.

In [ ]:
int_number = 843
string_number = '843'
print("Data Type of Integer:",type(int_number))
print("Data Type of String:",type(string_number))
print(int_number + string_number)

Data Type of Integer: <class 'int'>
Data Type of String: <class 'str'>

TypeError: ignored

In this scenario, Python cannot handle data type conversion automatically. So, we use Explicit conversion for these scenarios.

But how?

Check this code out!

In [ ]:
int_number = 843
string_number = "843"

print("Data Type of Integer:",type(int_number ))
print("Data Type of String before casting:",type(string_number ))

string_number = int(string_number )

print("Data Type of String after casting:",type(string_number ))
result = int_number + string_number
print("Result:",result )
print("Data type of result :",type(result ))

In the above example, Python cannot convert data types automatically when you try to add two different data types that are not possible. 

To overcome such scenarios where Python cannot use implicit conversion, we use explicit conversion.

##Here are some of the key points that you need to keep in mind when converting data types.



1.   Conversion always happens from one data type object to another data type object.
2.   Python interpreter will take care of Implicit conversion automatically, also, it avoids loss of data.



3.   Explicit Conversion also called Casting, when in-built functions were being used to perform this action.
2.   In Explicit Conversion, if we forcibly convert to a specific data type, there are chances for loss of data.

##Mutable and Immutable Objects
Data objects of the above types are stored in a computer's memory for processing. Some of these values can be modified during processing, but contents of others can't be altered once they are created in the memory.

Number values, strings, and tuple are immutable, which means their contents can't be altered after creation.

On the other hand, collection of items in a List or Dictionary object can be modified. It is possible to add, delete, insert, and rearrange items in a list or dictionary. Hence, they are mutable objects.

##Boolean Data type

Data with one of two built-in values **True** or **False**. Notice that **'T' and 'F'** are capital. true and false are not valid booleans and Python will throw an error for them.

True = 1  False = 0 (Internally)

In [ ]:
type(True)

bool

In [ ]:
type(False)

bool

In [ ]:
True + True

2

In [ ]:
True + False

1

In [ ]:
True/False

ZeroDivisionError: ignored

As you will see in upcoming tutorials, expressions in Python are often evaluated in Boolean context, meaning they are interpreted to represent truth or falsehood. A value that is true in Boolean context is sometimes said to be “truthy,” and one that is false in Boolean context is said to be “falsy.” (You may also see “falsy” spelled “falsey.”)

**The “truthiness” of an object of Boolean type is self-evident**: Boolean objects that are equal to True are truthy (true), and those equal to False are falsy (false). But non-Boolean objects can be evaluated in Boolean context as well and determined to be true or false.

You will learn more about evaluation of objects in Boolean context when you encounter **logical operators in the upcoming tutorial on operators and expressions in Python**.

It is denoted by the class bool.

In [ ]:
x = bool(2)

In [ ]:
#display x:
print(x)

True

In [ ]:
#display the data type of x:
print(type(x))

<class 'bool'>

In [ ]:
a = 1+2j
print(a, "is complex number?", isinstance(1+2j, complex))

(1+2j) is complex number? True

##Python Data Type – String
 
1. The string is a sequence of characters. **Python supports Unicode characters**.
 
Generally, strings are represented by either single or double quotes. 
 
**Python does not have a character data type, a single character is also considered as a string**.
 
Python string is an ordered collection of characters which is used to **represent and store the text-based information**.
 
Strings are stored as individual characters in a contiguous memory location
 
 
2.Create string variables by enclosing characters in quotes. Python uses ' single quotes ', " double quotes " and triple quotes """ to denote literal strings. Only the triple quoted strings """ also will automatically continue across the end of line statement.
 
3.Strings are immutable which means once we declare a string we can't update the already declared string.
 
5. It can be accessed from both directions: forward and backward
 
6.Strings are immutable Data Types in Python, which means that once a string is created, they cannot be changed.

In [ ]:
a=" "
b= "a"
print(type(b))
print(type(a))
num = '8830309897'
print(type(num))
num_1=int(num)

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
a = "string in a double quote"
b = 'string in a single quote'
print(a)
print(type(a))
print(b)

string in a double quote
<class 'str'>
string in a single quote

### Concatination

In [ ]:
first_name = "Swaraj"
Fathers_Name = "Vijay"
Last_Name = "Raut"

#method1
print(first_name, Fathers_Name, Last_Name)

#method2
print(first_name +" "+ Fathers_Name+" " + Last_Name)

#method3
full_name = first_name +" "+ Fathers_Name+" "+ Last_Name
print("full_name=",full_name)

#method 4 f-string
print(f"student name is\n  {Last_Name} {Fathers_Name} {first_name}")

#method 5 
print('student name is {} {} {}'.format (first_name,Fathers_Name,Last_Name) )

Swaraj Vijay Raut
Swaraj Vijay Raut
full_name= Swaraj Vijay Raut
student name is
  Raut Vijay Swaraj
student name is Swaraj Vijay Raut

In [ ]:
# using ',' to concatenate the two or several strings
print(a,"concatenated with",b)

#using '+' to concate the two or several strings
print(a+" concated with "+b)

string in a double quote concatenated with string in a single quote
string in a double quote concated with string in a single quote

In [ ]:
element = "vivek"
count = 5
print ("The item {} is repeated {} times".format(element,count))

The item vivek is repeated 5 times

In [ ]:
name = 'vivek'
surname = 'borkar'
print("my name is {} and surname is {}".format(name,surname))

my name is vivek and surname is borkar

In [ ]:
guest_list = ["ajay","salman","shharukh","ranvir"]

for i in guest_list:
  print('welcome to party {}'.format(i))

welcome to party ajay
welcome to party salman
welcome to party shharukh
welcome to party ranvir

In [ ]:
guest = "AISHWARYA"
time = "6 AM"
print("Welcome to the party {} At {}".format(guest,time))

Welcome to the party AISHWARYA At 6 AM

The {} are placeholders that are substituted by the variables element and count in the final string. This compact syntax is meant to keep the code more readable and compact.

Python is currently transitioning to the format syntax above, but python can use an older syntax, which is being phased out, but is still seen in some example code:

In [ ]:
element = 5
count = 12
print ("The item %i is repeated %i times"% (element,count))

The item 5 is repeated 12 times

In [ ]:
#Repetition:

#It means repeating a sequence of instructions a certain number of times.

String1 = "Hello"

print(String1*4)

HelloHelloHelloHello

#Escape Sequencing in Python

While printing Strings with single and double quotes in it causes SyntaxError because String already contains Single and Double Quotes and hence cannot be printed with the use of either of these. Hence, to print such a String either Triple Quotes are used or Escape sequences are used to print such Strings.

Escape sequences start with a backslash and can be interpreted differently. If single quotes are used to represent a string, then all the single quotes present in the string must be escaped and same is done for Double Quotes.

\'	-> Terminates string with single quote opening delimiter	Literal single quote (') character

\" ->	Terminates string with double quote opening delimiter	Literal double quote (") character

\newline ->	Terminates input line	Newline is ignored

\\ ->	Introduces escape sequence	Literal backslash (\) character

In [ ]:
quote='hi Radhika\n how are you "how was your day"'
print(quote)

hi Radhika
 how are you "how was your day"

In [ ]:
# Python Program for  
# Escape Sequencing   
# of String  
    
# Initial String  
String1 = '''I'm a "Geek"'''
print("Initial String with use of Triple Quotes: ")  
print(String1)  
    
# Escaping Single Quote   
String1 = 'I\'m a "Geek"'
print("\nEscaping Single Quote: ")  
print(String1)  
    
# Escaping Doule Quotes  
String1 = "I'm a \"Geek\""
print("\nEscaping Double Quotes: ")  
print(String1)  
    
# Printing Paths with the   
# use of Escape Sequences  
String1 = "C:\\Python\\Geeks\\"
print("\nEscaping Backslashes: ")  
print(String1)

Initial String with use of Triple Quotes:
I'm a "Geek"

Escaping Single Quote:
I'm a "Geek"

Escaping Double Quotes:
I'm a "Geek"

Escaping Backslashes:
C:\Python\Geeks\

##Applying Special Meaning to Characters


Next, suppose you need to create a string that contains a tab character in it. Some text editors may allow you to insert a tab character directly into your code. But many programmers consider that poor practice, for several reasons:

The computer can distinguish between a tab character and a sequence of space characters, but you can’t. To a human reading the code, tab and space characters are visually indistinguishable.
Some text editors are configured to automatically eliminate tab characters by expanding them to the appropriate number of spaces.
Some Python REPL environments will not insert tabs into code.
In Python (and almost all other common computer languages), a tab character can be specified by the escape sequence \t:

In [ ]:
print('foo\tbar')

foo	bar

The escape sequence \t causes the t character to lose its usual meaning, that of a literal t. Instead, the combination is interpreted as a tab character.

Here is a list of escape sequences that cause Python to apply special meaning instead of interpreting literally:

\a->	ASCII Bell (BEL) character

\b->	ASCII Backspace (BS) character

\f->	ASCII Formfeed (FF) character

\n->	ASCII Linefeed (LF) character

\N{<name>}->	Character from Unicode database with given <name>

\r->	ASCII Carriage Return (CR) character

\t	-> ASCII Horizontal Tab (TAB) character

\uxxxx->	Unicode character with 16-bit hex value xxxx

\Uxxxxxxxx->	Unicode character with 32-bit hex value 
xxxxxxxx

\v->	ASCII Vertical Tab (VT) character

\ooo->	Character with octal value ooo

\xhh->	Character with hex value hh

In [ ]:
print("a\tb")
print("a\141\x61")
print('\u2192 \N{rightwards arrow}')

##Operations On String

##Accessing elements of string
In Python, individual characters of a String can be accessed by using the method of Indexing. Indexing allows negative address references to access characters from the back of the String, e.g. -1 refers to the last character, -2 refers to the second last character and so on.


While accessing an index out of the range will cause an IndexError. Only Integers are allowed to be passed as an index, float or other types will cause a TypeError.

![]

# Indexing in Python

Positive Indexing -> Left To Right

Negative Indexing ->Right to left

![Picture](https://i.stack.imgur.com/o99aU.png)

![Picture]()

In [ ]:
s = "yasham academy"

In [ ]:
#Positive Indexing In Python
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])
print(s[6])
print(s[7])
print(s[8])

y
a
s
h
a
m

a
c

In [ ]:
#Negative Indexing In Python
print(s[-1])
print(s[-2])
print(s[-3])
print(s[-4])
print(s[-5])
print(s[-6])
print(s[-7])
print(s[-8])
print(s[-9])
print(s[-10])
print(s[-11])

r
e
c
n
e
u
l
f
n
i
#

Q) Why Negative Indexing ?

to provide Flexibility to programmer

#Slice Operator

Slice itself is a substring creator

Slicing is a technique for extracting parts of a string.

Note: In Python, index starts from 0.

To access substrings, use the square brackets for slicing along with the index or indices to obtain your substring.

#Syntax
##str[begin:end]

In [ ]:
s[0:4] #yasha   n->n-1

'yash'

return substring from begning index to n-1 index.

In [ ]:
s[2:7]

'nflue'

In [ ]:
s[1:] #DIGITALAASTHA

'influencer'

Default value is end of string if not specified where to end.

end is optional

In [ ]:
s[3:]

'ham academy'

In [ ]:
s[:4]

'yash'

if start value is not specified it will start from begning.

begning is optional

In [ ]:
s[:]

'yasham academy'

In [ ]:
s[-4:-1]

'nce'

begning value should be lower and end value should be higher

-1> -4

In [ ]:
str[-4:-1]

str[start:stop:stepsize]

In [ ]:
print(s[0::3]) #yasham academy

yh am

In [ ]:
#reverse the given string
print(s[::-1])

ymedaca mahsay

methods in strings

In [ ]:
#capitalize(): Converts the first character of a string to uppercase letters.
mystr='python'
print(mystr.capitalize())

Python

In [ ]:
#form

name=input("Enter your name")
l_name = input("Enter your last name")
Father_name = input("Enter your Father name")

print(name.capitalize())
print(l_name.capatalize())
print(Father_name.capatalize())

In [ ]:
#upper() Replaces the lowercase characters in a string with corresponding uppercase characters.
mystr='Python'
print(mystr.upper())

PYTHON

In [ ]:
first_name= 'swaraj'

second_name='vijay'

last_name='raut'

print("frist_name, second_name")

mystr.upper()

print("first_name,secont_name,last_name")

mystr.lower()

print("first_name+last_name")

In [ ]:
#lower() Replaces the uppercase characters in a string with corresponding lowercase characters.
mystr='PYTHON'
mystr.lower()

'python'

In [ ]:
#casefold():- converts your string to lower case
str1 = 'HELLO WELCOME TO PYTHON'
print(str1.casefold())

hello welcome to python

In [ ]:
#title():Returns the string with the first character of each word converted to uppercase.
mystr='python tutorial from tutorials teacher'
mystr.title()

'Python Tutorial From Tutorials Teacher'

In [ ]:
#find():The find() method finds the first occurrence of a substring in another string. If not found, the method returns -1.
mystr='Python Tutorial From Tutorials Teacher'
mystr.find('From')

16

In [ ]:
mystr.find('z')

-1

In [ ]:
#count():The count() method returns the number of occurrences of a substring in the given string.
mystr='Python Tutorial From Tutorial Teacher'
mystr.count('Tutorial')

2

In [ ]:
#isalpha():The isalpha() method returns true if all the characters in a string are alphabetic letters (a-z or A-Z), otherwise it returns false.
mystr='TutorialsTeacher'
mystr.isalpha()

True

In [ ]:
#isdigit() The isdigit() is method returns true if all the characters in string are digits (0-9), if not, it returns false.
str1='2000'
str1.isdigit()

True

In [ ]:
str2='2,000'
str2.isdigit()

False

In [ ]:
#islower() The islower() method returns true if all the characters in the string are lowercase characters, else it returns false.
str1='python'
str1.islower()

True

In [ ]:
str2='Python'
str2.islower()

False

In [ ]:
#isupper() The isupper() method returns true if all the characters in the string are uppercase characters, else it returns false.
var='TUTORIALSTEACHER'
var.isupper()

True

In [ ]:
var='TUTORIALSTeacher'
var.isupper()

False

In [ ]:
# '+'	Appends the second string to the first
a='hello'
b='world'
a+b

'helloworld'

In [ ]:
# '*'	Concatenates multiple copies of the same string
a='hello'
a*3

'hellohellohello'

In [ ]:
# 'in'	Returns true if a character exists in the given string
a = 'Python Tutorials'
'X' in a

False

In [ ]:
'Python' in a

In [ ]:
# 'not in' Returns true if a character does not exist in the given string 
a = 'Python Tutorials'
'X' not in a

In [ ]:
'Python' not in a

%c	character

%s	string conversion via str() prior to formatting

%i	signed decimal integer

%d	signed decimal integer

%u	unsigned decimal integer

%o	octal integer

%x / %X	hexadecimal integer (lowercase letters)

%e / %E	exponential notation (with lowercase 'e')

%f	floating point real number

In [ ]:
a= 20
print(type(a)
b= 3.14
print(type(b))
c = 2+3j
print(type(c))

SyntaxError: ignored

In [ ]:
a = input("enter your name")
print(a)
print(type(a))

enter your namejagdish
jagdish
<class 'str'>

In [ ]:
b = str(123)
print(type(b))

<class 'str'>

In [ ]:
c = '123'
print(type(c))

<class 'str'>

In [ ]:
name = "Siddhant Aware"

print(name[0])

S

In [ ]:
print(name[2])

d

In [ ]:
#negative indexing
print(name[-1])

e

In [ ]:
#slicing 
print(name[0:8])

Siddhant

In [ ]:
print(name[9:])

Aware

In [ ]:
print(name[-6:])

 Aware

In [ ]:
value=3.256987
print(value)

In [ ]:
a  = 23
b = "AGE"

print(b + str(a))

AGE23

In [ ]:
a = "HAri om"
b ="Suraj"

print(a+b)

HAri omSuraj

In [ ]:
str_1 = "Radhika is a good girl"
print(len(str_1))

22